body {
    background: #CCCCCC;
    font-family: 'Montserrat', sans-serif;
}

.logo img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-left: 250px;
    top: 80px;
}

.text0 {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 110px;
    margin-left: 260px;
}


.imagem {
    position: relative;
    left: 20px;
    top: 50px;

}
.ideias li {
    display: flex;
    font-size: 13px;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 190px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 5px;
    background: #ffffff;
    position: relative;
    left: 525px;
    
}

.ideias2 li {
    display: flex;
    font-size: 13px;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 190px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 5px;
    background: #ffffff;
    position: relative;
    left: 525px;
    bottom: 110px;
    
}

.ideias3 li {
    display: flex;
    font-size: 13px;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 190px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 5px;
    background: #ffffff;
    position: relative;
    left: 525px;
    bottom: 90px;
    
}

.texto {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 90px;
    bottom: 10px;
}

.texto2 {
    position: relative;
    color: darkgray;
    font-size: 14px;
    left: 90px;
    bottom: 40px;
}

.texto-principal {
    display: flex;
    font-size: 14px;
    align-items: center;
    position: relative;
    left: 90px;
    bottom: 60px;

}

.botaoIdeia {
    background: #ff5e84;
    color: white;
    font-size: 13px;
    font-weight: bold;
    width: 110px;
    height: 35px;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-left: 340px;
    bottom: 520px;
    cursor: pointer;
}

.botaoIdeia:hover {
    transform: scale(1.03)
    
}

.suaIdeia1 {
    text-decoration: none;
    font-size: 12px;
    color:#ff5e84;
    font-weight: bold;
    position: relative;
    margin-left: 275px;
    bottom: 547px;
}

.botaoIdeia1 {
    text-decoration: none;
    font-size: 10px;
    color:#ff5e84;
    font-weight: bold;
    position: relative;
    margin-left: 660px;
    bottom: 620px;
}

.botaoIdeia2 {
    text-decoration: none;
    font-size: 10px;
    color:#ff5e84;
    font-weight: bold;
    position: relative;
    bottom: 400px;
    right: 50px;

}

.botaoIdeia3 {
    text-decoration: none;
    font-size: 10px;
    color:#ff5e84;
    font-weight: bold;
    position: relative;
    right: 100px;
    bottom: 170px;

}

